.consoles {
    background-image: url("../img/backgrounds/bg-falaise.jpg");
    background-size: cover;
    background-position-x: 60%;
    // height: 100vh;

    @include tablet-landscape {
        background-size: 135%;
        background-position-y: 15%;
        background-position-x: 0;
    }
}