.footer {
  text-align: center;
  @include bcg;
  background-image: url("../img/bg-motifs-noir.png");
  padding: 5rem 1.5rem 9.3rem;
  color: $white;

  @include tablet-landscape {
    padding: 7.6rem 0 7.1rem;
  }
}

.footer__logo {
  height: auto;
  width: 12.5rem;
  margin-bottom: 2.9rem;

  @include tablet-landscape {
    width: 10rem;
  }
}

.footer__wrapper-socials {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(top);
  margin-bottom: 5rem;

  @include tablet-portrait {
    @include flex-direction(row);
    @include justify-content(center);
    margin-bottom: 8rem;
  }

  div {
    margin-bottom: 2rem;
    @include tablet-portrait {
      margin-right: 1.5rem;
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.footer__mentions {
  font-size: $font-mentions;
  line-height: 1.5;

  span {
    color: $gold;
    &:first-of-type {
      &::after {
        content: "|";
        color: $white;
        margin: 0 .5rem;
      }
    }
  }

  p {
    margin-top: 1.5rem;
  }
}
