.intro {
  position: relative;
  text-align: center;
  background-image: url("../img/bg-zelda.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  height: 100vh;
  width: 100%;
  z-index: 101;

  @media only screen and (max-height: 35rem) {
    height: auto;
  }

  .wrapper-content__darkBottom {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;

    @media only screen and (max-height: 35rem) {
      padding: 7rem 1.5rem 0 1.5rem;
    }

    @include tablet-landscape {
      @media only screen and (max-height: 550px) {
        padding: 14.1rem 0 0 0;
      }
    }
  }
}

.intro__logo {
  position: absolute;
  top: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  @media only screen and (max-height: 35rem) {
    position: inherit;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 3rem;
  }

  @include tablet-landscape {
    position: absolute;
    top: 4rem;
    left: 4rem;
    -webkit-transform: none;
    transform: none;
  }
}

.intro__title {
  margin: 0 0 7.7rem 0;
  font-family: $Didone;
  font-size: $font-main-title;
  font-weight: 700;

  @media only screen and (max-height: 35rem) {
    margin: 2rem 0 7.7rem;
  }

  @include tablet-landscape {
    font-size: $font-main-title-desktop;
    margin: 0 0 20rem;
  }

  @include tablet-landscape {
    @media only screen and (max-height: 35rem) {
      margin: 2rem 0 20rem;
    }
  }

  span {
    font-family: $Berkshire;
  }
}

.intro__bottom-ctn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  @media only screen and (max-height: 35rem) {
    position: inherit;
    -webkit-transform: inherit;
    transform: inherit;
  }

  h3 {
    margin-top: 7.4rem;
    font-family: $Didone;
    font-size: $font-button-order;
  }

  div {
    margin: 0 auto;
    margin-top: 1.5rem;
    height: 4rem;
    width: .1rem;
    background: $white;
  }
}
