.monde {
  background-image: url("../img/backgrounds/bg-motifs-noir1.png");
  background-size: cover !important;
  @include bcg;
  @include section-padding;
  @include tablet-landscape {
    background-size: contain !important;
    padding: 11.2rem 5.5rem;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include desktop {
      padding: 11.2rem 15rem;
    }
    @include desktop-lg {
      padding: 11.2rem 25rem;
    }
  }
  .wrapper-info {
    @include tablet-landscape {
      width: 40%;
      padding: 0 2rem;
    }
  }
}
