.share {
  background-image: url("../img/backgrounds/bg-dragon2.jpg");
  background-size: 345% !important;
  background-repeat: no-repeat;
  padding: 10rem 1.5rem;
  @include bcg;
  text-align: center;
  font-family: $Didone;
  color: $black;
  @include tablet-portrait {
    background-size: cover !important;
  }
  @include desktop {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 auto;
    padding: 11.6rem 40rem;
  }
}

.share__desc {
  font-size: $font-button-discover;
  line-height: 1.5;
  margin-bottom: 2rem;
  @include desktop {
    margin-bottom: 0;
    font-size: $font-button-order;
    text-align: left;
    margin-right: 5rem;
  }
}
