section.consoles
    div.wrapper-content.wrapper-content__darkBottom.wrapper-content--consoles
        div.wrapper-info.wrapper-info__left.wrapper-info--consoles
            h2.wrapper-info__title.wrapper-info__title--sticky.wrapper-info__title--console Les consoles #[br]#[span.wrapper-info__subtitle Nintendo]
            include ../blocs/buttons-wrapper.pug
        .consoles-content
            .consoles-content_switch
                a(href="#").consoles-btn.consoles-btn--switch.consoles-btn--active#switch Switch
                a(href="#").consoles-btn.consoles-btn--wii#wii Wii U
            .consoles-content_video
                iframe(src="https://www.youtube.com/embed/herWXCE7bHI?showinfo=0" frameborder="0" width="100%" height="100%")
            a(class='consoles-btn--order buttons-wrapper__btn buttons-wrapper__btn--light' href='#' id="console-link") Commander la Nintendo Switch
