section.ennemis
    div.wrapper-info.wrapper-info__left
        h2.wrapper-info__title Des ennemis #[br]#[span.wrapper-info__subtitle à affronter]
        p.wrapper-info__desc Quelque soit votre arme favorite, croisez le fer avec les créatures qui peuplent ce royaume désolé, et prouvez votre valeur au combat. Plus que d'une épée, vous devrez vous armer de courage et de bravoure.
        include ../blocs/buttons-wrapper.pug
    .video-content
        iframe(src="https://www.youtube.com/embed/HyI4R11cAdE?showinfo=0" width="100%" height="100%" frameborder='0')
