section.environment
    div.wrapper-content.wrapper-content__darkTop.wrapper-content__rightSide
        div.wrapper-info
            h2.wrapper-info__title Un environnement #[br]#[span.wrapper-info__subtitle à apprivoiser]
            p.wrapper-info__desc Chassez, ceuillez, cuisinez… et prenez des forces pour affronter la faune, la flore et les intempéries d’un monde parfois encore plus dangereux que les monstres qu’il abrite.
            include ../blocs/buttons-wrapper.pug