footer
  .footer
    a(href="https://www.nintendo.fr/")
      img.footer__logo(src=require("../img/logo-nintendo-red.png") alt="Nintendo")
    .footer__wrapper-socials
      div
        a.twitter-follow-button(data-show-count="false" data-show-screen-name="false" href="https://twitter.com/intent/user?screen_name=nintendofrance" alt="Suivre Nintendo") Suivre
      div
        .g-ytsubscribe(data-channel="Nintendo" data-layout="default" data-count="hidden")
      div
        .fb-like(data-layout="button")

    .footer__mentions
      .footer__mentions__conditions
      span Politique de confidentialité
      span Conditions d’utilisation
      p.footer__mentions__desc © 2017 Nintendo. The Legend of Zelda, Wii U, et Nintendo Switch sont des marques de commerce de Nintendo.
script(src="https://apis.google.com/js/platform.js")
