html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:url"           content="https://fervent-cray-d32469.netlify.com")
        meta(property="og:type"          content="website")
        meta(property="og:title"         content="Zelda: Breath of the Wild")
        meta(property="og:description"   content="Un voyage époustoufflant et GRANDIOSE")
        meta(property="og:image"         content="../img/characters/link-rider.png")
        title Zelda: Breath of the Wild
    body
    header
    a.sticky-btn(href="#") commander le jeu
