section.histoire
    .wrapper-info.wrapper-info__left
        .wrapper-img.wrapper-img__link
            img(src=require("../img/link-archer-2.png") alt="Link Archer" width="320")
        h2.wrapper-info__title Une histoire #[br]#[span.wrapper-info__subtitle à découvrir] 
        p.wrapper-info__desc Aidez Link à retrouver sa mémoire d'avant qu'il ne se réveille seul dans ce royaume oublié. Lancez-vous avec lui à la découverte d'une vaste et dangereuse contrée pour faire la lumière sur ses souvenirs perdus, avant qu'Hyrule ne soit jamais perdu.
        include ../blocs/buttons-wrapper.pug
    