section.intro
  .wrapper-content__darkBottom
    .intro__ctn
      h1.intro__logo
        img(src=require("../img/logo-botw.png"), alt="Zelda Breath of the Wild" width="100")
      h2.intro__title Un voyage #[br] #[span époustouflant] et GRANDIOSE et Rigolo
      a.buttons-wrapper__btn.buttons-wrapper__btn--darkBig(href="#") commander le jeu</a>
      .intro__bottom-ctn
        h3 Lancez vous dans l'aventure
        div
