section.monde
  .video-content
    iframe(src="https://www.youtube.com/embed/XVipqzY_jBc?showinfo=0" width="100%" height="100%" frameborder='0')
  .wrapper-info
      h2.wrapper-info__title Un monde
        span.wrapper-info__subtitle à explorer
      p.wrapper-info__desc Explorez les paysages d’Hyrule comme bon vous semble. Grimpez jusqu’au sommet des tours et des montagnes pour trouver de nouvelles destinations, puis choisissez votre propre chemin et plongez au cœur des contrées sauvages.
      include ../blocs/buttons-wrapper.pug
