section.personnages
    .wrapper-content.wrapper-content__rightSide
        .wrapper-img.wrapper-img__left
            img(src=require("../img/characters/zelda-link.png") alt="Link and Zelda" width="320")
        .wrapper-img.wrapper-img__right
            img(src=require("../img/characters/urbosa.png") alt="Link Archer" width="320")
        .wrapper-info
            h2.wrapper-info__title Des personnages #[br]#[span.wrapper-info__subtitle à rencontrer]
            p.wrapper-info__desc Allez à la rencontre de toute une galerie de personnages hauts en couleurs. Certains vous demanderont de précieux conseils... mais soyez vigilent, car ils ne vous veulent pas tous que du bien.
            include ../blocs/buttons-wrapper.pug