section.share
  p.share__desc Propagez les vents d’Hyrule et invitez d’autres aventuriers à parcourir les contrées désenchantées d’un Hyrule en ruines.
  .share__btn.fb-share-button(data-layout="button" data-size="large")
    a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse") Partager

