$black: #000;
$white: #fff;
$gold: #B99F65;

$font-dark: #413f3f;
$font-light: $white;
$font-tertiary: #b99f65;

$background-button: $gold;
$background-button-switch: #E50012;
$background-button-wii: #76C3EE;
$background-button-dark-hover: #8A0000;
$background-button-light-hover: #866E3C;