// Import font AnticDidone
@font-face {
    font-family: "AnticDidone";
    src: url("../fonts/AnticDidone-Regular.ttf") format("truetype");
}

// Import font BerkshireSwash
@font-face {
    font-family: "BerkshireSwash";
    src: url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

$Didone: 'AnticDidone', 'arial', 'sans-serif';
$Berkshire: 'BerkshireSwash', 'arial', 'sans-serif';
$Comfortaa: 'Comfortaa', 'arial', 'sans-serif';

$font-main-title: 3.2rem;
$font-main-title-desktop: 5.5rem;
$font-title: 2.8rem;
$font-content: 2.5rem;
$font-button-discover: 1.6rem;
$font-button-consoles: 1.4rem;
$font-button-order: 1.76rem;
$font-consoles: 2rem;
$font-text-bloc: 1.7rem;
$font-mentions: 1.2rem;


// PX TO REM WITH IE8 FALLBACK
@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}
