//- Include header
include ./partials/header.pug

//- Include partie intro
include ./partials/intro.pug

//- Include partie monde
include ./partials/monde.pug

//- Include partie histoire
include ./partials/histoire.pug

//- Include partie personnages
include ./partials/personnages.pug

//- Include partie ennemis
include ./partials/ennemis.pug

//- Include partie environnement
include ./partials/environment.pug

//- Include part consoles
include ./partials/consoles.pug

//- Include partie amiibo
include ./partials/amiibo.pug

//- Include partie partager
include ./partials/share.pug

//- Include footer
include ./partials/footer.pug
